/* 
    Document   : StyleSheet
    Created on : 19-sep-2018
    Author     : gerko
    Description:
    Stylesheet for Report All
*/

#main { background: white;
      font-family: arial;
}

#Table{vertical-align: top;

}
.h2 {font-family: arial;
    vertical-align: top;
    background: darkblue;
    color: white;
}
.koptekst{font-family: arial;
      font-size: small;
      text-align: right;
      display:block;
}
.TableText{font-family: arial;
       font-size: small; 
       text-align: left;
       vertical-align: top;
}

.navbar {overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    font-family: arial;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
    cursor: pointer;
}

footer {page-break-after:always;}

@page{
    size: A4;
    font-family: arial;
}


@page:left{
    margin-left: 2cm;
    
}

@page:right{
    margin-left: 2cm;
}



