/* 
    Document   : StyleSheet
    Created on : 5-okt-2013, 20:04:14
    Author     : gerko
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 950px;
    text-align: left;
    margin: 20px auto;
}

#main { background: white }

.submitbtn {
    -webkit-appearance: none;
    height: 45px;
    width: 60px;
}

#singleColumn {
    margin: 0px 0px;
    text-align: left;
}
.lightBlue { background-color: #E0F8F7;
             padding: 0;
             outline: none;
             border-bottom: solid 1px #58D3F7;
             border-top: solid 1px #58D3F7;
}
.white { background-color: #fff ;
         text-align: left;
         padding: 0;
         outline: none;
         border-bottom: solid 1px #58D3F7;
         border-top: solid 1px #58D3F7;
}
.white2 { background-color: #fff ;
         text-align: left;
         padding: 0;
         outline: none;
         border-bottom: solid 1px #58D3F7;
         border-top: solid 1px #58D3F7;
}
.whitec { background-color: #fff ;
         text-align: center;
         padding: 0;
         outline: none;
         border-bottom: solid 1px #58D3F7;
         border-top: solid 1px #58D3F7;
}
.hwhite { background-color: #fff ;
         text-align: left;
         padding-left: 20px;
         outline: none;
         border-bottom: solid 1px lightgray ;
}
.tableTitle{
    height: 50px;
    font-size: xx-large;
    font-weight: bold;
    text-align: left;
}
.tableTitle2{
    height: 50px;
    font-size: xx-large;
    font-weight: bold;
    padding-left:20px;
}
.tableTitle4{
    height: 50px;
    font-size: large;
    font-weight: bold;
    padding-left:20px;
}
.theader {
    text-align: left;
    height: 50px;
    background-color: #CEF6F5;
    border-bottom: solid 1px #58D3F7;
}
.inputText{
    margin-top: 12px;
    margin-left: 30px;
}
.bubble {
    font-weight: bold;
    background-color: #f5eabe;
    padding: 5px;
    color: inherit;
}
.hMargin { margin: 0 30px }
.smallText { font-size: small }

#header {
    height: 50px;
    background: white;
    border-bottom: solid 1px black;
    font-size: small; 
    text-align: right;
    vertical-align: top;
}

#footer {
    width: 950px;
    height: 100px;
    clear: left;
    text-align: center;
    font-size: small;
    background: graytext;
}

#LeftColumn {
    height: 600px;
    width: 50px;
    float: left;
    background: #CEF6F5;
    list-style-type: none;
}
#LeftColumn ul {
    list-style-type: none;
}
#LeftColumn ul li{
    margin: 10px -40px;
}
#LeftColumn ul li a{
    padding: 5px;
    display: block;
    background-color: #CEF6F5;
    vertical-align: middle;
    line-height: 25px;
    font-size: small; 
}
#LeftColumn ul li a:hover{
    background-color: #CEF6F5;
    color: black;
}
#LeftColumn2 {
    height: 600px;
    width: 194px;
    float: left;
    background: white;
    list-style-type: none;
}
#LeftColumn2a {
    height: 600px;
    width: 194px;
    float: left;
    background: white;
    border-left:solid 1px black;
    padding-left:5px;
    list-style-type: none;
}
.tableTitle3{
    height: 50px;
    font-size: xx-large;
    font-weight: bold;
    padding-left:20px;
    position:relative;
    top:10px;
}
#RightColumn {
    height: 600px;
    width: 695px;
    float: left;
    background: white;
    border-left: solid 1px black;
}

#widgetBar {
    height: 50px;
    width: 700px;
    float: left;
    background: white;    
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
#widgetBarQuarter {
    height: 50px;
    width: 700px;
    float: left;
    background: white;    
     padding-top:10px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
   
}

.titleWidget {
    margin: 10px 0 0 37px;
    text-align: left;
    font-size: x-large;
    float: left;
    line-height: 35px;
    background: white;
}
.cudWidget{
    height: 50px;
    margin: 2px;
    float: right;
}
.cudWidget button.submitbtn:hover{
    cursor:pointer;
}
#RightColumnHalf {
    height: 350px;
    width: 340px;
    float: left;
    padding-left: 5px;
    background: white;
}

#RColmain {
    height: 500px;
    width: 695px;
    float: left;
    background: white;
}

#materialenTable { width: 700px; 
                   border-collapse: collapse;  
}
#materialenTable tr { height: 50px; }
#materialenTable td { width: 700px; }
#materialenTable2 { width: 700px; 
                   border-collapse: collapse;  
}
#materialenTable2 tr { height: 50px; }
#materialenTable2 td { width: 700px; }
#materialenTable2 tr td.white:hover{ background-color: #CEF6F5;
                                    cursor:pointer;
}
#obstacleTable { width: 695px;
                 border-collapse: collapse;
}
#obstacleTableHalf { width: 340px;
                     border-collapse: collapse;
}
#obstacleTableQuarter { width: 200px;
                     border-collapse: collapse;
}
#obstacleTableQuarter tr td.white:hover{ width: 200px;
                     border-collapse: collapse;
                     background-color: #CEF6F5;
                     cursor:pointer;
}
.basictab{
    padding: 5px 0px;
    margin-left: 0;    
    list-style-type: none;
    text-align: center; /*set to left, center, or right to align the menu as desired*/
    font-weight: bold;
}
.basictab li{
    display: inline;
    margin: 0;
}
.basictab li a{
    text-decoration: none;
    padding: 10px 90px;
    margin-right: 10px;
    border: 1px solid gray;
    border-bottom: none;
    background-color: white;
    color: #2d2b2b;
}
.basictab li a:hover{
    background-color: #CEF6F5;
    color: black;
}
.basictab li.selected a{ /*selected tab effect*/
    position: relative;
    top: 1px;
    padding-top: 10px;
    background-color: #CEF6F5;
    color: black;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
}
input {
  display: inline-block;
  float: left;
}
body#materials a#navMaterials, 
body#checkpoints a#navCheckpoints, 
body#sections a#navSections, 
body#chkq a#navChkQ,
body#checked a#navchked,
body#checklist a#navchkList {
    background-color: lightgrey;
}
